@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Fira Sans', sans-serif;
}

.main-box{
    background-image: linear-gradient(#00000014,#000000e3), url(images/donation12.png);
    background-repeat: no-repeat;
    /* background-position: center; */
}
.container{
    width: 1130px;
    padding: 0px 15px;
    margin: auto;
}
.header-title {
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 180px 0px 120px 0px;
}

.header-title h1 {
    font-size: 57px;
    color: white;
    margin-bottom: 15px;
}

.header-title p {
    color: #efefef;
    line-height: 25px;
    padding-bottom: 35px;
    font-size: 15px;
    width: 80%;
    margin: auto;
}

.donate-btn {
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: #ff5959;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    margin: auto;
    width: 12%;
    text-align: center;
}
.contant-box {
    margin: 150px 0px 120px 0px;
}

.contant-title {
    width: 50%;
    margin: auto;
    text-align: center;
}

.contant-title h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.contant-title p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 65px;
}

.donate-item {
    display: flex;
    width: 74%;
    margin: auto;
    margin-bottom: 30px;
}

.donate-item div {
    background: #fafafa;
    padding: 30px 20px;
    margin-left: 30px;
    font-size: 24px;
    color: #333;
    text-align: center;
}
.donate-item div:first-child{
    margin-left: 0px;
}
.onther-amount {
    width: 74%;
    margin: auto;
}

.onther-amount input {
    border: none;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px 0px;
}
.onther-amount hr {
    margin-bottom: 25px;
}

.donate-cart {
    display: flex;
}

.donate-cart div {
    background: #FFEEEE;
    margin-left: 20px;
    padding: 50px 20px;
    border-radius: 5px;
}

.donate-cart div:first-child{
    margin-left: 0px;
    background-color: #EDF5F6;
}

.donate-cart div:last-child{
    margin-left: 0px;
    background-color: #FFF4D6;
    margin-left: 20px;
}

.donate-cart div h3 {
    margin: 20px 0px;
    font-size: 18px;
}

.donate-cart div p {
    font-size: 15px;
    line-height: 23px;
    color: #999595;
}
.main-contain-box {
    display: flex;
    margin-bottom: 100px;
}

.title-box {
    width: 55%;
}

.image-box {
    width: 45%;
}

.image-box img {
    max-width: 100%;
    border-radius: 5px;
}

.title-box h1 {
    font-size: 38px;
    width: 70%;
    margin-bottom: 15px;
    line-height: 47px;
}

.title-box p {
    width: 70%;
    font-size: 15px;
    color: #999595;
    margin-bottom: 20px;
    line-height: 22px;
}

a.Contribute-btn {
    text-decoration: none;
    background: #FF5959;
    padding: 12px 18px;
    color: white;
    border-radius: 4px;
    display: block;
    width: 26%;
    text-align: center;
}
.image-box2 {
    width: 48%;
}

.image-box2 img {
    max-width: 100%;
    border-radius: 5px;
}

.title-box2 {
    width: 45%;
    margin-left: 80px;
}

.title-box2 h1 {
    font-size: 43px;
    width: 60%;
    margin-bottom: 18px;
    margin-top: 18px;
}

.title-box2 p {
    font-size: 15px;
    width: 60%;
    color: #999595;
    margin-bottom: 25px;
    line-height: 22px;
}
.last-title {
    width: 40%;
    margin: auto;
    margin-bottom: 42px;
}

.last-title h1 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 22px;
}
.last-title p {
    text-align: center;
    font-size: 15px;
    color: #999595;
    line-height: 24px;
}

.email-box {
    width: 26%;
    margin: auto;
    background: #FFF4D6;
    padding: 50px 150px;
    display: flex;
}
.email-box input {
    border: none;
    padding: 8px 14px;
    background: #ddd;
    display: block;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.email-box a {
    text-decoration: none;
    padding: 7px 18px;
    background: #FF5959;
    color: white;
    font-size: 14px;
    display: block;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.last-main-box {
    margin-bottom: 100px;
}
footer.foote-sec {
    background: #0B0D17;
    text-align: center;
}

footer.foote-sec h2 {
    color: #FF5959;
    padding-top: 48px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

footer.foote-sec p {
    color: white;
    font-size: 13px;
    font-weight: 100;
    padding-bottom: 70px;
}